@model IEnumerable<BlogApp.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New Blog", "Create") &raquo;</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>More</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogHeading)
        </td>
		<td>
			@Html.ActionLink("Read", "Details", new { id = item.BlogId }) |
			@Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
		</td>
    </tr>
}

</table>
